.enterprise-form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 3rem 0;
  max-width: 700px;
}

.enterprise-form-container .form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  width: 100%;
}

.enterprise-form-container .form-title h1 {
  margin: 1rem;
}

.enterprise-form-container .form-title .form-buttons button {
  margin: 0 2rem;
}

.enterprise-form-container .form-title .form-buttons .btn-cancelar {
  background-color: tomato;
}

.enterprise-form-container .corp-data,
.enterprise-form-container .address-data,
.enterprise-form-container .position-data {
  width: 100%;
}

.corp-group,
.position-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.address-group-1 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

.address-group-2 {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 1rem;
}

@media (max-width: 768px) {
  .corp-group,
  .position-group,
  .address-group-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
