.navbar-container {
  height: 6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: var(--color-primary);
  color: var(--color-text-header);
  font-weight: bold;
  width: 100%;
}

.navbar-container span {
  margin-right: 5rem;
}

.navbar-container .navbar-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.navbar-container .navbar-links a {
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-container .navbar-links a:link {
  color: #ccc;
}
.navbar-container .navbar-links a:visited {
  color: #ccc;
}
.navbar-container .navbar-links a:hover {
  color: var(--color-text-header);
}
.navbar-container .navbar-links a:focus {
  color: var(--color-text-header);
}
.navbar-container .navbar-links a:active {
  color: var(--color-text-header);
}

.navbar-container .navbar-links a:last-child {
  margin-left: 5rem;
}
