:root {
  --color-background: #f0f0f7;
  --color-primary-lighter: #abb7e5;
  --color-primary-light: #8f9fdd;
  --color-primary: #7386d5;
  --color-primary-dark: #5c6caa;
  --color-primary-darker: #45517f;
  --color-secondary: #003d53;
  --color-secondary-dark: #002a3a;
  --color-text-header: #ffffff;
  --color-text-in-primary: #c7cfee;
  --color-text-title: #22283f;
  --color-text-complement: #8193d9;
  --color-text-base: #6779bf;
  --color-line-in-white: #e6e6f0;
  --color-input-background: #f8f8fc;
  --color-button-text: #ffffff;
  --color-box-footer: #fafafc;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

/* #root {
  display: flex;
  align-items: center;
  justify-content: center;
} */

body,
input,
button,
textarea {
  font: 500 1.6rem Roboto;
  color: var(--color-text-base);
}

input,
select {
  padding-left: 1rem;
  height: 3rem;
  border-radius: 0.5rem;
  outline: 0;
  width: 100%;
}

button {
  background-color: var(--color-secondary);
  color: var(--color-button-text);
  padding: 0.5rem;
  width: 100px;
}

.container {
  width: 90vw;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
